#top-header{
    background-color:blue;
    position:absolute;
}
#content-bg{
    background-color:green;
    
}
#white_block{
    padding:1em;
}
#content-s{
    background-color:orange;
    text-align:center;
    position:relative;
    padding:0.2em;
    margin-right:9em;
    margin-left:9em;
    border:0.3em solid black;
    border-radius:5px;
}