<html>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="../static/basics.css">
  
  <div class="header top-header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed" style="text-align:center" >
      <a class="pure-menu-heading" href="">Your Site</a>
      
      <ul>
	<li><a href="/">Home</a></li>
	<li class="pure-menu-selected"><a href="/login">Login</a></li>
	<li><a href="/register">Register</a></li>
      </ul>
    </div>
  </div>
  <div id="white_block"></div>
  <div id="content-bg">
      <br>
      <br>
  <div id="content-s">      
    <h1 class="error_msg">{{msg}}</h1>
    <h1 class="splash-head">Super Fun Stuff</h1>
    <p class="splash-subhead">
      <form class="pure-form pure-form-aligned" method="POST">
	<div class="pure-control-group">
            <label for="name">Username</label>
            <input id="uname" type="text" placeholder="Username">
        </div>
	<br>
        <div class="pure-control-group">
            <label for="password">Password</label>
            <input id="pswd" type="password" placeholder="Password">
        </div>
	<br>
	<button type="submit" class="pure-button pure-button-primary">Submit</button>
      </form>
      
    </p>
    <p>
      <a href="/login" class="pure-button pure-button-primary">Login Page</a>
      <a href="/register" class="pure-button pure-button-primary">Register Page</a>
    </p>
  </div>
  <div id="white_block"></div> 
  </div> 
  
</html>
