<html>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="../static/basics.css">
  
  <div class="header top-header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed" style="text-align:center" >
      <a class="pure-menu-heading" href="">Your Site</a>
      
      <ul>
	<li class="pure-menu-selected"><a href="#">Home</a></li>
	<li><a href="#">Tour</a></li>
	<li><a href="#">Sign Up</a></li>
	<li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </li>
	<li><form class="pure-form">
	    <fieldset>
	      <input type="text" name="uname" placeholder="Username">
	      <input type="password" name="pswd" placeholder="Password">
	      <button type="submit" class="pure-button pure-button-primary">Sign in</button>
	    </fieldset>
	  </form>
	</li>
      </ul>
    </div>
  </div>
  <div id="white_block">    </div>

  <div id="content-s">
       
    <h1 class="splash-head">Super Fun Stuff</h1>
    <p class="splash-subhead">
      zum zum zum zum
    </p>
    <p>
      <a href="/login" class="pure-button pure-button-primary">Login Page</a>
      <a href="/register" class="pure-button pure-button-primary">Register Page</a>
    </p>
  </div>




</html>
